<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vue Contact List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Caveat:400,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body class="container">

  <div id="contactApp" v-cloak>

    <h1>Vue Contact List</h1>

    <form>
      
      <div class="form-group row" v-bind:class="{ 'has-warning': missingName && attemptingSave }">
        
        <label for="name" class="col-sm-2 col-form-label">Name</label>
                
        <div class="col-sm-10">        
          
          <input type="text" id="name" class="form-control form-control-warning" v-model="newName" placeholder="Harry Potter">
          
          <div class="form-control-feedback" v-if="missingName && attemptingSave">Name cannot be blank.</div>

        </div>
 
      </div>
      
      <div class="form-group row" v-bind:class="{ 'has-warning': badPhone && attemptingSave }">
        
        <label for="phone" class="col-sm-2 col-form-label">Phone</label>
        
        <div class="col-sm-10">
          
          <input type="text" id="phone" class="form-control form-control-warning" v-model="newPhone" placeholder="859-867-5309">
          
          <div class="form-control-feedback" v-if="badPhone && attemptingSave">Please enter a phone number in 999-999-9999 format.</div>
        
        </div>
      
      </div>
      
      <div class="form-group row" v-bind:class="{ 'has-warning': badEmail && attemptingSave }">
        
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        
        <div class="col-sm-10">
          
          <input type="text" id="email" class="form-control form-control-warning" v-model="newEmail" placeholder="hpotter@hogwarts.edu">
          
          <div class="form-control-feedback" v-if="badEmail && attemptingSave">Email is missing an '@'.</div>
        
        </div>
      
      </div>
      
      <div class="row">
        
        <div class="col text-center">
          
          <button class="btn btn-outline-warning" v-on:click.prevent="validateForm($event)">Save</button>
        
        </div>
      
      </div>
    
    </form>  

    <hr class="divider" />

    <div v-if="contacts && contacts.length > 0">
      <div class="row" v-for="contact in contacts">
        <div class="col-sm-1">
          <button type="button" v-on:click="removeContact(contact.id)" class="btn btn-sm btn-outline-danger">X</button>
        </div>
        <div class="col-sm-4">{{ contact.name }}</div>
        <div class="col-sm-3">{{ contact.phone }}</div>
        <div class="col-sm-4">{{ contact.email }}</div>
      </div>
    </div>
    <div v-else>
      <div class="row">
        <div class="col text-center">No contacts!</div>
      </div>
    </div>

  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>

</body>
</html>