<!DOCTYPE html>
<html>
<head>
	<title>Vue Component - Contact List</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

	<script src="https://use.fontawesome.com/e81701c933.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	
</head>
<body class="container">

	<div id="contactList" v-cloak>
		<h1 class="text-center">My Contacts</h1>
		
		<hr>

		<div class="form">
			
			<div class="form-group row">
		    <input id="nameInput"
		    			 class="form-control"
		           type="text" 
		           placeholder="Add Name"
		           v-model="newName">
			</div>

			<div class="form-group row">
		    <input id="phoneNumberInput"
		    			 class="form-control"
		           type="tel"	           
		           placeholder="Add Phone Number (xxx-xxx-xxxx)"
		           v-model="newPhoneNumber">
			</div>

			<div class="form-group row">
		    <input id="emailInput"
		    			 class="form-control"
		           type="tel"
		           placeholder="Add Email"
		           v-model="newEmail" 
							 v-on:keyup.enter="addContact">
			</div>

			<div class="form-group row">
				<button type="submit" class="btn btn-outline-primary mx-auto" id="btnSave" v-on:click="addContact()" v-on:keyup.enter="addContact()">Save</button>
			</div>

		</div>

		<hr>

		<div v-if="contacts && contacts.length > 0">
			
			<table class="table table-striped table-bordered">
			<thead>
				<tr>
		      <th></th>
		      <th>Name</th>
		      <th>Phone Number</th>
		      <th>Email Address</th>
    		</tr>
  		</thead>
  		<tbody>
  			<tr 
  				is="contactLine"
  				v-bind:id="contact.id"
  				v-bind:name="contact.name"
  				v-bind:phone-number="contact.phoneNumber"
  				v-bind:email="contact.email"
  				v-bind:remove-contact="removeContact"
  				v-for="contact in contacts">
  			</tr>

  		</tbody>
		</table>

		</div>

		<div v-else>
			<div class="row">
				<div class="col text-center">No contacts!</div>
			</div>
		</div>
		
	</div>


	<script type="text/javascript" src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>