* {
	margin : 0px;
	padding : 0px;
}

[v-cloak] {
	display: none;
}

#contactList {
	padding: 24px;
}

hr {
	margin: 24px 40px;
}

.btn-outline-primary:disabled {
    color: #a8a8a8;
    border-color: #a8a8a8;
}

.buttonColumn {
	text-align: center;
}

button {
	background: none;
	border: none;
	color: #333;
	float: right;
}

button:hover {
	color: #000;
	cursor: pointer;
}

/*.inputError {
	border: 1px solid #ef5350;
}*/